<footer class="bg-danger text-white py-4">
  <div class="container">
  	<div class="row">
  	  <div class="col-md-4 col-4-lg col-sm-12">
  	  	<h2 class="text-center">ChattingApp</h2>
  	  	<p class="text-center">
  	  		What is the use of chatting app?
			Chatting app allows you to communicate with your customers in web chat rooms. It enables you to send and receive messages. Chatting apps make it easier, simpler, and faster to connect with everyone and it is also easy to use. There are many types of chatting apps and every one has its own format, design, and functions.
  	  	</p>
  	  </div>
  	  <div class="col-md-4 col-4-lg col-sm-12">
  	  	<ul style="list-style: none;text-align: center;">
  	  		<h2 class="text-center">Menu</h2>
  	  		<li class="my-2">Home</li>
  	  		<li class="py-2">Message</li>
  	  		<li class="py-2">About</li>
  	  		<li class="py-2">Gallery</li>
  	  		<li class="py-2">Contact</li>
  	  	</ul>
  	  </div>
  	  <div class="col-md-4 col-4-lg col-sm-12">
  	  	<h2 class="text-center">Get In Touch</h2>
  	  	<div class="">
			<form>
				<div class="mb-1 form-group">
					<label for="exampleInputName1" class="form-label">Name</label>
					<input type="text" class="form-control" id="exampleInputName1">
				</div>
				<div class="mb-3 form-group">
					<label for="exampleInputEmail1" class="form-label">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>
<!-- 				<div class="mb-1 form-group">
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1">
				</div> -->

				<div class="mb-1 form-group">
				    <button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
  	  	</div>
  	  </div>
  	</div>
  </div>
</footer>
  </body>
</html>